<section class="flex justify-center">

    <div class="flex justify-center flex-column wrapperForm">

        <h3 class="cabecera">Vende tu dispositivo Mac</h3>

        <form class="ordenador">

            <div class="flex flex-row justify-center">
                <fieldset class="extraPadding">

                    <div>
                        <label>Selecciona Producto:</label>
                        <select [(ngModel)]="productoSeleccionado.id" (change)="onSelect($event.target.value)"
                            [ngModelOptions]="{standalone: true}" class="select-css">
                            <option value="0">--Select--</option>
                            <option *ngFor="let producto of arrProductos" value={{producto.id}}>{{producto.nombre}}
                            </option>
                        </select>

                    </div>
                    <div>
                        <label>Selecciona modelo:</label>
                        <select class="select-css">
                            <option value="0">--Select--</option>
                            <option *ngFor="let modelo of arrModelos" value={{modelo.id}}>{{modelo.nombre}}</option>
                        </select>
                    </div>

                    <div>
                        <label>Selecciona la capacidad:</label>
                        <select class="select-css">
                            <option value="0">--Select--</option>
                            <option *ngFor="let capacidad of arrCapacidades" value={{capacidad.id}}>{{capacidad.nombre}}
                            </option>
                        </select>

                    </div>
                    <div>
                        <label>Selecciona el Procesador:</label>
                        <select class="select-css" [(ngModel)]="modeloSeleccionado.Id"
                            (change)="onSelectModel($event.target.value)" [ngModelOptions]="{standalone: true}"
                            class="select-css">
                            <option value="0">--Select--</option>
                            <option *ngFor="let procesador of arrProcesadores" value={{procesador.id}}>
                                {{procesador.nombre}}
                            </option>
                        </select>

                    </div>

                    <div>

                        <label>Selecciona la memoria RAM:</label>
                        <select class="select-css">
                            <option value="0">--Select--</option>
                            <option *ngFor="let ram of arrRam" value={{ram.id}}>{{ram.nombre}}</option>
                        </select>

                    </div>
                </fieldset>

                <fieldset class="flex flex-column">
                    <div class="flex flex-column">
                        <label>Numero de serie:</label>
                        <input type="text">
                    </div>

                    <div class="flex flex-column">
                        <label>Título del anuncio:</label>
                        <input type="text">
                    </div>

                    <div class="flex flex-column">
                        <label>Descripción</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>

                    <label class="image-upload-container btn btn-bwm">
                        <span>Select Image</span>
                        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                    </label>

                </fieldset>

                <fieldset>
                    <div>
                        <label>¿Dispone el artículo de complementos?</label><br>
                        <div class="radio">
                            <input type="radio" name="complementos" value="S" checked><span>Sí</span>
                            <input type="radio" name="complementos" value="N"><span>No</span>
                        </div>
                    </div>

                    <div>
                        <label>¿El producto cuenta con su caja original?</label><br>
                        <div class="radio">
                            <input type="radio" name="caja" value="S" checked><span>Sí</span>
                            <input type="radio" name="caja" value="N"><span>No</span>
                        </div>
                    </div>

                    <div>
                        <label>¿El producto está listo para ser enviado?</label><br>
                        <div class="radio">
                            <input type="radio" name="envio" value="S" checked><span>Sí</span>
                            <input type="radio" name="envio" value="N"><span>No</span>
                        </div>
                    </div>


                    <div class="flex flex-column">
                        <label>Precio en euros:</label>
                        <input type="text">
                    </div>

                    <button (click)="navigatetoUsuario()">Siguiente</button>

                </fieldset>

            </div>


        </form>

    </div>

</section>