.selectProducto {

    display: block;
	font-size: 1rem;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	color: #444;
	width: auto;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
}

.wrapperForm {

    width: 950px;
    border: 1px solid black;
    margin-bottom: 5%;
}

.cabecera {

    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
}



select:focus {
	box-shadow: none;
}

select {

    margin-top: 15px;
}
label {

    padding-bottom: 10px;
}

input {

    height: 2rem;
}

input[type="text"] {

    font-size: 1rem;
}

form {

    padding: 5%;
}

fieldset {

    border: none;
}

fieldset > div {

    padding: 3%;

}

.radio {

    display: flex;
    align-content: center;
   
}

.radio span {

    line-height: 2.1;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 5px;
}

.extraPadding {

    width: 250px;
}

fieldset:nth-child(3) {

    padding-left: 5%;
}

button {

    background-color: lightskyblue;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 5%;
    margin-top: 8%;
    margin-left: 40%;
    color: rgb(65, 62, 62);
}


