.selectProducto {

    display: block;
	font-size: 1rem;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	color: #444;
	width: auto;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
}

.cabecera {

    background-color: lightblue;
    text-align: center;
    font-size: 1.2rem;
}

h3 {

    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

select:focus {
	box-shadow: none;
}


img {

	width: 200px;
}

form {
    width: 850px;
    height: 500px;
    border: 1px solid black;
    margin: 5%;
}

input {

    height: 2rem;
}

fieldset {

    border: none; 
}

fieldset > div {

    padding: 3%;

}