
<section class="contenedorCabecera">

    <div class="cabecera">

        <div class="contenedor">
            <h1>Compra y vende tu ordenador de la forma más segura</h1>
            <div class="wrapperBtn"> 
                <a class="btn">accede</a>
            </div>

        </div>

    </div>

    <div>

            <div class="flex flex-row contenedorFunc">

                    <img src="../../assets/productos.png" alt="ordenadores mac">
                
                    <div class="contenidoFunc flex flex-column justify-center">

                        <h2>¿Cómo funciona?</h2>

                        <p>Nos ocupamos de todo, recogemos el dispositivo en tu casa en el horario que nos indiques
                            El comprador dispone de cinco días para comprobar que todo está acorde a lo esperado
                            y, si no, pude devolver el producto.</p>

                        <div class="wrapperBtn flex justify-center">
                            <a class="btn">Saber más</a>
                        </div>
                    </div>
                    

            </div>

    </div>

    <div class="mobile">

        <div class="contenedorMobile mitad flex flex-column justify-center content-center">

            <h2>Todos los dispositivos</h2>

            <p>Todos los dispositivos son aceptados siempre que lo hayas adquirido en un distribuidor autorizado. 
                Tienes muchas más oportuniades de que tu dispositivo se venda si dispone de los accesorios originales, caja y ticket de compra, aunque no esté en garantía.
            </p>

            <div class="wrapperBtn flex justify-center">
                    <a class="btn">Saber más</a>
            </div>


        </div>

        <div class="mitad">
            <img src="../../assets/mobiles.png" alt="">
        </div>

    </div>

    <div class="carrousel flex flex-row justify-center items-center">

        <div class="opiniones">

            <div *ngIf="opinion">
                <img [src]="opinion.imagen">

                <h3>{{i}} {{opinion.nombre}}</h3>
                
                <p>{{opinion.texto}}</p>

            </div>

            

        </div>

        <button (click)="onCambiarSlide('prev')" [disabled]="this.id==1"><i class="fas fa-chevron-left"></i></button>
        <button (click)="onCambiarSlide('next')" [disabled]="this.id==4"><i class="fas fa-chevron-right"></i></button>


    </div>

</section>
<footer class="flex flex-column" id="footer">

    <div class="container flex flex-row justify-between">

        <div class="flex flew-row expand">

                <div class="extra-padding">

                    <ul>
                        <li>SecondMac</li>
                        <li>Servicio a empresas</li>
                        <li>Compromiso</li>
                        <li>Blog</li>
                    </ul>


                </div>
                <div class="extra-padding">

                    <ul>
                        <li>Ayuda</li>
                        <li>Contacto</li>
                        <li>FAQs</li>
                        <li>Legal</li>
                    </ul>



                </div>
                <div class="extra-padding">

                    <ul class="social">
                        <li>Seamos amigos</li>
                        <li><i class="fab fa-facebook-square"></i>Facebook</li>
                        <li><i class="fab fa-instagram"></i>Instagram</li>
                        <li><i class="fab fa-twitter"></i>Twitter</li>
                        <li><i class="fab fa-linkedin"></i>Linkedin</li>
                    </ul>


                </div>

        </div>

        <div>

            

        </div>

    </div>

    <hr>

    <div class="container dos flex flex-row justify-between content-center">
        <div class="modoPago flex flex-row justify-around content-center">
            <img src="../assets/ico-visa.svg" alt="">
            <img src="../assets/ico-mastercard.svg" alt="">
            <img src="../assets/PayPal.png" alt="">
        </div>
        <div class="flex items-center">

            <small><p>Copyright © 2019 | Todos los derechos reservados.</p></small>

        </div>
    </div>
 
</footer>


