section, footer {

    font-family: 'Montserrat', sans-serif;
}

p{

    line-height: 1.7;
}

.cabecera {
    background-image:url('../../assets/cabecera.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: relative;
    
}

.contenedor {

    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 600px;
    text-align: center;

}

.contenedor h1 {
    font-size: 2.2rem;
    line-height: 1.5;
}

.wrapperBtn {
    margin-top: 20px;  
}

.btn {
    color: white;
    font-size: 1rem;
    background-color: rgba(46, 167, 238);
    padding: 10px 20px;
    border-radius: 20px;  
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 5%;
}

.contenedorFunc {
    padding-top: 10%;
    padding-bottom: 10%;
}

.contenedorFunc img {

    padding-left: 5%;
}


.contenidoFunc p {
    padding: 1% 25%;
}

.mobile {

    background-color: rgb(18,18,18);
    height: 60vh;
    width: 100%;
    position: relative;
}

.mobile img {

    position: absolute;
    bottom: 0;
    left: 65%;
    transform: translateY(0%);
    transition: 1s;
    z-index: 0;
}

/* .mobile:hover img {

    transform: translateY(0%);

} */

.mobile p, .mobile h2 {

    color:white;
}

.mitad {

    width: 50%;

}

.contenedorMobile {

    height: 100%;
    padding: 8%;

}

.mobile .btn {

    background-color: white;
    color: black;
}

/* opiniones  */

.carrousel {

    text-align: center;
    padding-top: 10%;
    overflow: hidden;
    background-color: white;
    z-index: 999;
    
}

.carrousel h3{

    padding-bottom: 5%;
    padding-top: 5%;
} 

.opiniones{

    width: 500px;
    height: 500px;
   
}

.carrousel button {

    border:none;
    background-color: transparent;
}

i {

    font-size: 50px;
}

.fa-chevron-left {

    position: absolute;
    left: 30%;
}
.fa-chevron-right {

    position: absolute;
    right: 25%;
}

.active {

    display: none;

}

/* footer */

footer {

    padding-top: 100px;
    background-color: white;
}

ul {

    list-style: none;
}

ul li{

    padding-bottom: 15px;
    font-size: .9em;
    color: #838286;
   
}

ul>li:first-child {

    padding-bottom: 20px;
    font-weight: 700;
}

.container {
   width: 100%;
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
}

.extra-padding {

    width: 20%;
    
}
 .expand {

     width: 80%;
 }

i {
    padding-right: 3%;
    font-size: 1.2rem;
}


 hr {

   width: 70%;
   display: block;
   margin: auto;
   height: 0;
   border-top: 1px solid #eee;
   border-bottom: none;

}

.modoPago img {

    padding-left: 1%;
    padding-right: 1%;
    width: 120px;
}

.modoPago img:nth-child(2) {

    width: 80px;
}

.container.dos {
    margin-top: 3%;
}

.container.dos p {

    color:#838286;
}






