<div class="container">
    <header class="flex flex-row-reverse">


        <nav class="nav flex justify-around items-center">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/profile']">Perfil</a>
            <!-- <a [routerLink]="['/registration']">Registro</a> -->
            <a [routerLink]="['/usuario']">Login</a>
            <a [routerLink]="['/computer']">Vender mi ordenador</a>
        </nav>

        <div class="logo">


        </div>


    </header>
</div>