<section class="flex justify-center">

    <div class="usuario wrapperForm flex flex-column justify-center">

        <h3 class="cabecera">Vende tu dispositivo</h3>
        <form action="" class="flex flex-column justify-center content-center">


            <label for="nombre">Nombre</label>
            <input type="text">


            <label for="apellidos">Apellidos</label>
            <input type="text">


            <label for="contrasenha">Email</label>
            <input type="text">


            <label for="nickname">Usuario</label>
            <input type="text">

            <label for="contrasenha">Contraseña</label>
            <input type="text">



            <input class="btn" type="submit" value="Enviar">
        </form>

    </div>

</section>