<section class="flex justify-center">

    <div class="usuario wrapperForm flex flex-column justify-center">

        <h3 class="cabecera">Entrar en mi cuenta</h3>
        <form action="" [formGroup]="formulario" class="flex flex-column justify-center content-center">


            <label for="email">Email</label>
            <input type="text" formControlName="email">

            <label for="contrasenha">Contraseña</label>
            <input type="password" formControlName="contrasenha">

            <input class="btn" type="submit" value="Enviar" (click)="onSubmit()">

            <p>¿Eres nuevo? Crea tu cuenta de SecondMac</p>

            <button [routerLink]="['/registration']">Crear cuenta</button>

        </form>

    </div>

</section>