button{

    padding: .6rem;
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 300px;

}
 i{

    font-size: 2rem;
    padding-top: 2rem;
    color: blue;
 }
