<section class="wrapperForm">

    <div>

        <h2></h2>

        <div>
            <label>Selecciona Producto:</label>
            <select [(ngModel)]="productoSeleccionado.id" (change)="onSelect($event.target.value)">
                <option value="0">--Select--</option>
                <option *ngFor="let producto of arrProductos" value={{producto.id}}>{{producto.nombre}}</option>
            </select>
        </div>

        <div>
            <label>Selecciona el modelo:</label>
            <select>
                <option value="0">--Select--</option>
                <option *ngFor="let modelo of arrModelos" value={{modelo.id}}>{{modelo.nombre}}</option>
            </select>

        </div>

        <div>
            <label>Selecciona la capacidad:</label>
            <select>
                <option value="0">--Select--</option>
                <option *ngFor="let capacidad of arrCapacidades" value={{capacidad.id}}>{{capacidad.nombre}}</option>
            </select>

        </div>

        <div>

            <label>Selecciona la memoria RAM:</label>
            <select>
                <option value="0">--Select--</option>
                <option></option>
            </select>

        </div>

    </div>

    <form action="">

        <h2>Vende tu dispositivo</h2>
        <label for="nombre">Nombre</label>
        <input type="text">
        <label for="apellidos">Apellidos</label>
        <input type="text">
        <label for="contrasenha">Email</label>
        <input type="text">
        <label for="nickname">Usuario</label>
        <input type="text">
        <label for="contrasenha">Contraseña</label>
        <input type="text">

        <input type="submit" value="Enviar">
    </form>





</section>